<div class="message">
  <div class="upper-message">
    <div class="message-user">
      sample

    </div>
    <div class="message-date">
      2020/3/31(Wed) 12:47:30

    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      おはよう

    </div>
  </div>
</div>